@import url(fpi.css);
.loading{
	position: absolute;
	top:3px;
	right:3px;
	background-repeat: no-repeat;
	text-indent: 0.5cm;
	font-size: 13px;
	background-color: #eee;
	display: none;
	z-index: 10000;
	font-style: italic;
}
.customMinWidth{
	width: 200px;
}
.customRightAlign{
	text-align: right;
}