@charset "utf-8";

.page{
	height:30px;
	line-height:30px;
	background:url(../images/page/page_bg.gif) repeat-x 0 0;
	border:1px solid #ccc;
	border-top:0px;
}
.page-left{
	float:left;
	padding-left:10px;
	_padding-top:5px;
}
.page-left input{
	border:0px;
}
.page-right{
	float:right;
	padding-right:10px;
}
.page-right .page-num{
	float:left;
	height:30px;
	margin-right:10px;
}
.page-right .page-btn{
	float:left;
	height:27px;
	padding-top:3px;
}
.page-btn .btnDiv{
	height:23px;
	line-height:21px;
	background:url(../images/page/page_btn_left.gif) no-repeat left;
	padding-left:10px;
	float:left;
	margin:0 3px;
}
.page-btn .btnDiv a{
	display:block;
	height:23px;
	padding-right:10px;
	_padding-top:5px;
	_height:18px;
	_line-height:12px;
	float:left;
	background:url(../images/page/page_btn_right.gif) no-repeat right;
}
.page-btn .btnDiv.selected{
	background:url(../images/page/page_btn_left02.gif) no-repeat left;
}
.page-btn .btnDiv.selected a{
	background:url(../images/page/page_btn_right02.gif) no-repeat right;
}
.page-btn .btnDiv img{
	vertical-align:middle;
}

/* jQ封装过的分页 */
.pagination{
	background:url(../images/page/page_bg.gif) repeat-x;
	height:35px;
	line-height:35px;
}
.pagination table ,.pagination table td{
	border:0px !important;
}
.pagination table td select{
	padding:2px;
}
.pagination table td input{
	text-align:center;
}
.pagination a.l-btn span.l-btn-left{
	padding-top:8px !important;
}
