@charset "utf-8";
/* ui-tab----------------------------------------------------------begin */
.ui-tab ul.ui-tab-head{
	height: 28px;
	border-bottom: 1px solid #05aaff;
	padding-left: 10px;
	position: relative;
	background:#fff;
}
.ui-tab ul.ui-tab-head li{
	float: left;
	margin-right: 5px;
	border: 1px solid #05aaff;
	border-bottom: none;
}
.ui-tab ul.ui-tab-head li a{
	display: inline-block;
	background-color: #d1efff;
	padding: 0 15px;
	color: #000;
	text-decoration: none;
	height: 27px;
	line-height: 27px;
	position: relative;
}
.ui-tab ul.ui-tab-head li a:hover{
	bottom: -1px;
	background-color: #e9f2f3;
	text-decoration: none;
	font-weight: bold;
}
.ui-tab ul.white li a:hover{
	background-color: #fff !important;
}
.ui-tab ul.ui-tab-head li.cur a{
	bottom: -1px;
	background-color: #e9f2f3;
	text-decoration: none;
	font-weight: bold;
}
.ui-tab ul.white li.cur a{
	background-color: #fff !important;
}
.ui-tab .ui-tab-body{
	padding-top: 10px;
}
.ui-tab .ui-tab-body table tr td{
	padding: 3px;
}


/* ui-tab----------------------------------------------------------end */
.ui-tabs{
	margin:15px 12px !important;
	border:0px !important;
	background-color:transparent !important;
}
.ui-tabs .ui-tabs-nav{
	height:31px !important;
	line-height:31px !important;
	background:url(../../images/common/tab/tab_bg.gif) repeat-x 0 0 !important;
	padding-left:20px;
}
.ui-tabs .ui-tabs-nav li{
	height:31px !important;
	padding-left:15px !important;
	bottom:0px !important;
	background:url(../../images/common/tab/tab_left01.gif) no-repeat left !important;
}
.ui-tabs .ui-tabs-nav li a{
	height:31px !important;
	line-height:31px !important;
	padding-right:15px !important;
	background:url(../../images/common/tab/tab_right01.gif) no-repeat right !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	background:url(../../images/common/tab/tab_left02.gif) no-repeat left !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
	background:url(../../images/common/tab/tab_right02.gif) no-repeat right !important;
}
